.sidebar-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-title {
    font-weight: 600;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

.Section {
    background-color: #576f76;
}