
.post-layout {
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 24px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Sidebar {
    position: sticky;
    top: 70px;
    height: max-content;
}
